<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocuBox</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
      }
      .docubox-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="docubox-container">
      <audio controls>
        <source src="<%= fileStorageUrl %>" />
        Unable to play audio, please download the file and use your device's
        inbuilt media player
      </audio>
    </div>
  </body>
</html>
