<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocuBox</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
        color: #ffffff;
      }
      .docubox-container {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
        padding: 20%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="docubox-container">
      Unable to open this file, please download this file and use the relevant
      application provided by your operating system
    </div>
  </body>
</html>
